<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "mindware.com.mapper.ParameterMapper">

    <resultMap type="parameter" id="ParameterResult">
        <id 	property="parameterId" column="parameter_id"/>
        <result property="typeParameter" column="type_parameter"/>
        <result property="descriptionParameter" column="description_parameter"/>
        <result property="valueParameter" column="value_parameter"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="findParameterByType" resultMap="ParameterResult" parameterType="string">
        select *
        from parameter
        where type_parameter = #{typeParameter}
        order by parameter_id
    </select>

    <select id="findValueParameterByTypeAndName" resultMap="ParameterResult" parameterType="map">
        select *
        from parameter
        where type_parameter = #{typeParameter}
        and description_parameter = #{descriptionParameter}

    </select>

    <select id="findParameterByTypeAndState" resultMap="ParameterResult" parameterType="map">
        select *
        from parameter
        where type_parameter = #{typeParameter}
        and state =#{state}
        order by parameter_id
    </select>

    <select id="countParameterByNameAndType" resultType="int" parameterType="map">
        select count(*)
        from parameter
        where type_parameter = #{typeParameter}
        and value_parameter = #{valueParameter}

    </select>

    <insert id="insertParameter"  parameterType="parameter" keyProperty="parameterId" >
        <selectKey keyProperty="parameterId" resultType="int" order="BEFORE">
            select nextval('parameter_id_seq')
        </selectKey>
        insert into parameter (
        parameter_id,
        type_parameter,
        description_parameter,
        value_parameter,
        state)
        values (
        #{parameterId},
        #{typeParameter},
        #{descriptionParameter},
        #{valueParameter},
        #{state}
        )

    </insert>

    <update id="updateParameter" parameterType="parameter">
        update parameter
        set
        type_parameter = #{typeParameter},
        description_parameter = #{descriptionParameter},
        value_parameter = #{valueParameter},
        state =#{state}
        where parameter_id = #{parameterId}
    </update>



</mapper>