<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "mindware.com.mapper.RolMapper">

    <resultMap type="rol" id="RolResult">
        <id 	property="rolId" column="rol_id"/>
        <result property="rolName" column="rol_name"/>
        <result property="description" column="description"/>
        <collection property="menuOption" column="rol_id" ofType="MenuOption" resultMap="MenuOptionResult"/>

    </resultMap>

    <resultMap type="menuoption" id="MenuOptionResult">
        <id 	property="menuOptionId" column="menu_option_id"/>
        <result property="optionId" column="option_id"/>
        <result property="rolId" column="rol_id"/>
    </resultMap>


    <select id="findAllRol" resultMap="RolResult">
        select * from rol
        order by rol_name
    </select>

    <select id="findAllRolMenuOptionByRolId" resultMap="RolResult" parameterType="int">
        select *
        from rol r
        inner join menu_option m ON r.rol_id = m.rol_id
        where r.rol_id = #{rolId}

    </select>


    <insert id="insertRol"  parameterType="rol" keyProperty="rolId" >
        <selectKey keyProperty="rolId" resultType="int" order="BEFORE">
            select nextval('rol_id_seq')
        </selectKey>
        insert into rol (
        rol_id,
        rol_name,
        description)
        values (
        #{rolId},
        #{rolName},
        #{description})
    </insert>

    <update id="updateRol" parameterType="rol">
        update rol
        set
        description = #{description},
        rol_name = #{rolName}
        where rol_id = #{rolId}

    </update>



</mapper>