<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="application.properties"/>

    <typeAliases>
        <package name="mindware.com.model"/>
        <package name="mindware.com.typeHandler"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="mindware.com.typeHandler.TreeNodeTypeHandler"/>
        <typeHandler handler="mindware.com.typeHandler.JsonNodeValueTypeHandler"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/dbschool?searchpath=public"/>
                <property name="username" value="postgres"/>
                <property name="password" value="postgres"/>
            </dataSource>
        </environment>


    </environments>
    <mappers>
         <package name="mindware.com.mapper"/>

        <!-- <mapper resource="com/mindware/mappers/EmpleadoMapper.xml"/> -->
    </mappers>
</configuration>
